/*------------------
    Google Font 
------------------*/

body{
    font-family: 'Poppins', sans-serif;
}

/*------------------
    Button Style 
------------------*/

.hover:hover{
    background-color: green;
    color: white;
}
